<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")

    @*<link href="./Content/css" rel="stylesheet" />
    <link href="./Content/bootstrap-journal.css" rel="stylesheet" />
    <link href="./Content/animations.css" rel="stylesheet" />
    <link href="./Content/menu-icons.css" rel="stylesheet" />
    <link href="./Content/menu-icons-embedded.css" rel="stylesheet" />
    <link href="./Content/menu-icons-ie7.css" rel="stylesheet" />
    <link href="./Content/menu-icons-ie7-codes.css" rel="stylesheet" />
    <link href="./Content/site.css" rel="stylesheet" />*@



</head>
<body>
    <div class="container-fluid main-container">
        <div class="row">
            <div class="col-12">
                <!-- Burger-Menu nav tabs-->
                <ul class="nav nav-tabs BuildNav">
                    <li class="nav-item text-center">
                        <a class="nav-link active show" data-toggle="tab" href="#bunPanel"><span class="icon icon-bun"></span>Brød</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" data-toggle="tab" href="#meatPanel"><span class="icon icon-meat"></span>Kød</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" data-toggle="tab" href="#cheesePanel"><span class="icon icon-cheese"></span>Ost</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" data-toggle="tab" href="#greenPanel"><span class="icon icon-salad"></span>Grønt</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" data-toggle="tab" href="#saucePanel"><span class="icon icon-sausages"></span>Dressing</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" data-toggle="tab" href="#saucePanel"><span class="icon icon-drink"></span>Drinks</a>
                    </li>
                </ul>

                @RenderBody()

            </div>
        </div>

        <div class="alert-bg error-alert">
            <div class="alert alert-danger alert-dismissible error-alert" role="alert">
                <strong>Vent!</strong> Din burger er ikke færdig! Du endnu har ikke valgt brød og kød.
                <button type="button" class="close close-alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalCenterTitle">Bekræft Ordre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="order-ul"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary col-6" data-dismiss="modal">Luk</button>
                        <button type="button" class="btn btn-primary col-6" id="modal-confirm-btn">Bekræft Ordre</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="tableModal" data-backdrop="static" data-keyboard="false">>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Velkommen til Texas-Burger</h5>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="custName">Navn</label>
                                <input type="text" class="form-control" id="custName" placeholder="Skriv dit navn" maxlength="40" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="tableNumber">Bord Nummer</label>
                                <input type="number" class="form-control" id="tableNumber" placeholder="Bord Nummer" aria-describedby="numberHelp" max="250">
                                <small id="numberHelp" class="form-text text-muted">Du kan finde dit nummer ved dit bord.</small>
                            </div>
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block" id="table-btn">Byg din burger!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/CreateBurgerJS")
        @RenderSection("scripts", required: false)
        
<!--Legacy Fix -->
@*<script src="/Scripts/CreateBurgerJS.js"></script>
<script src="/Scripts/jquery-3.3.1.js"></script>
<script src="/Scripts/bootstrap.js"></script>*@

        <script>
            (function ($) {
                function calcStepSize(optionNode) {
                    var breakM = 990;
                    var breakS = 768;

                    var width = $(window).innerWidth();

                    if (width < breakS) {
                        var key = 's';
                    } else if (width < breakM) {
                        key = 'm';
                    } else {
                        key = 'l';
                    }

                    var cnt = 1 * optionNode.data("itemcount-" + key);

                    return cnt > 0 ? cnt : 1;
                }

                function repartition(container, items, count) {
                    container.children().remove();

                    for (var i = 0; i < items.length; i++) {
                        var cBlock = $('<div class="carousel-item" ></div').appendTo(container);
                        var cInnerBlock = $('<div class="row"></div>').appendTo(cBlock);

                        for (var j = 0; j < count; j++) {
                            var cIdx = (i + j) % items.length;

                            cInnerBlock.append($(items.get(cIdx)).clone());
                        }
                    }

                    container.children().first().addClass("active");
                }

                $('.carousel.multi').each(function (idx, El) {
                    var carousel = $(El);
                    var container = carousel.find('.carousel-inner');

                    if (!container.children().first().hasClass('carousel-item')) {
                        var items = container.children().clone();

                        var lastSize = calcStepSize(carousel);
                        repartition(container, items, lastSize);

                        $(window).resize(function () {
                            var cSize = calcStepSize(carousel);

                            if (cSize != lastSize) {
                                repartition(container, items, cSize);
                                lastSize = cSize;
                            }
                        });
                    } else {
                        container.children().first().addClass("active");
                    }

                    carousel.carousel({
                        interval: false
                    });
                });

            }(jQuery));
        </script>
</body>
</html>
